USE [master]
GO
/****** Object:  Database [Практика7Воронин]    Script Date: 16.05.2023 14:28:12 ******/
CREATE DATABASE [Практика7Воронин]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Практика7Воронин', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Практика7Воронин.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Практика7Воронин_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Практика7Воронин_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Практика7Воронин].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Практика7Воронин]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код_заказа] [nvarchar](50) NULL,
	[Дата_создания] [datetime] NULL,
	[Время_создания] [datetime] NULL,
	[Код_клиента] [nvarchar](50) NULL,
	[Статус] [nvarchar](255) NULL,
	[Дата_закрытия] [datetime] NULL,
	[Время_проката] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](255) NULL,
	[Код клиента] [nvarchar](50) NULL,
	[Паспортные данные] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код роли] [nvarchar](50) NOT NULL,
	[Наименнование роли] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [nvarchar](255) NOT NULL,
	[Должность] [nvarchar](255) NULL,
	[ФИО ] [nvarchar](255) NULL,
	[Логин ] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний вход] [nvarchar](255) NULL,
	[Тип входа] [nvarchar](255) NULL,
	[Код роли] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код услуги] [nvarchar](50) NULL,
	[Наименование услуги] [nvarchar](255) NULL,
	[Стоимость, руб#  за час ] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 16.05.2023 14:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[Код чека] [nvarchar](50) NOT NULL,
	[Код услуги] [nvarchar](50) NULL,
	[Код клиента] [nvarchar](50) NULL,
	[Номер чека] [nvarchar](50) NULL,
 CONSTRAINT [PK_Чек] PRIMARY KEY CLUSTERED 
(
	[Код чека] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (N'1', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), N'4.54625e+007', N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (N'2', CAST(N'2022-03-13T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:10:00.000' AS DateTime), N'4.54625e+007', N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([Код_заказа], [Дата_создания], [Время_создания], [Код_клиента], [Статус], [Дата_закрытия], [Время_проката]) VALUES (N'3', CAST(N'2022-03-14T00:00:00.000' AS DateTime), CAST(N'1899-12-30T11:10:00.000' AS DateTime), N'4.54625e+007', N'В прокате', NULL, N'2 часа')
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', N'4.54625e+007', N'Серия 1180 Номер 176596', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', N'4.54625e+007', N'Серия 2280 Номер 223523', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', N'4.54625e+007', N'Серия 4560 Номер 354155', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Санкт-Петербург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Роли] ([Код роли], [Наименнование роли]) VALUES (N'11', N'Продавец')
INSERT [dbo].[Роли] ([Код роли], [Наименнование роли]) VALUES (N'12', N'Продавец')
INSERT [dbo].[Роли] ([Код роли], [Наименнование роли]) VALUES (N'13', N'Администратор')
GO
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 101', N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', N'Успешно', NULL)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 102', N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', N'Успешно', NULL)
INSERT [dbo].[Сотрудники] ([Код сотрудника], [Должность], [ФИО ], [Логин ], [Пароль], [Последний вход], [Тип входа], [Код роли]) VALUES (N'ID 103', N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', N'Успешно', NULL)
GO
INSERT [dbo].[Услуги] ([Код услуги], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (N'336', N'Прокат велосипеда', 1000.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (N'353', N'Прокат шлема', 400.0000)
INSERT [dbo].[Услуги] ([Код услуги], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (N'31', N'Прокат набора защитного оборудования', 1000.0000)
GO
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента], [Номер чека]) VALUES (N'1', N'34', N'4.54625e+007', NULL)
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента], [Номер чека]) VALUES (N'10', N'92', N'4.54625e+007', NULL)
INSERT [dbo].[Чек] ([Код чека], [Код услуги], [Код клиента], [Номер чека]) VALUES (N'100', N'336', N'4.54625e+007', NULL)
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Роли] FOREIGN KEY([Код роли])
REFERENCES [dbo].[Роли] ([Код роли])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Роли]
GO
USE [master]
GO
